<div class="w-12 app-background">
  <div class="card p-1 flex flex-row justify-content-between  align-content-between  card-container menu-header">
    <div class="flex  card">
      <div class="flex flex-row">
        <div class="flex p-1">
          <img class="iconImage"
               src="{{brandImage}}" [height]="80" [width]="80">
        </div>
        <div class="flex flex-column p-1">
          <span class="text-900 font-bold mt-4 text">{{companyName}}</span>
          <span class="font-light mt-1 text">{{slogan}}</span>
        </div>
      </div>
    </div>

    <div class="p-1 flex card  align-items-center justify-content-center toggle" (click)="toggleDarkTheme()">
      <img
        *ngIf="!(isDarkTheme | async)" src="assets/toggleTheme.svg" alt="Toggle">
      <img
        *ngIf="(isDarkTheme | async)" src="assets/darkThemeToggle.svg" alt="Toggle"></div>
  </div>
</div>
