<div class="relative">
  <div class="flex flex-wrap">
  <span *ngFor="let product of productsToShow$|async; let i = index" class="w-6 md:w-3">
  <app-product-card [product]="product" [index]="i" [selected]="selectedProducts.includes(product)"></app-product-card>
    </span>
  </div>
  <span (click)="onModalVisible()" *ngIf="selectedProducts.length>0"
        class="bill text-color"><span>{{selectedProducts.length}}</span></span>

  <p-dialog [closeOnEscape]="true" [dismissableMask]="true" [modal]="true" [closable]="true" [showHeader]="false" [contentStyleClass]="'w-12 p-3'" [keepInViewport]="false" [(visible)]="billVisible" [position]="modalPosition" [style]="{width: '100vw'}">
    <app-bill-card-modal (onNoItems)="closeBillModal()" (onSendBill)="onSendBill($event)"></app-bill-card-modal>
  </p-dialog>
  <p-dialog [(visible)]="confirmSentBill" [style]="{width: '60vw'}">
    <app-bill-confirmation-card-modal (onClose)="onConfirmationDialogClose()"></app-bill-confirmation-card-modal>
  </p-dialog>

</div>
