$dark-value-map:(
  name: "dark",
  text-color: white,
  primary: #4192b4,
  color-opacity: 1,
  selected-color-opacity: 0.8,
  component-background-color: #333333,
  background-color0:#19232E,
  background-color1:#65874D,
  background-color2:#6B60EA,
  background-color3:#9542BC,
  background-color4:#96ADFF,
  background-color5:#3d360c,
  background-color6:#0c2f57,
  background-color7:#115611,
  background-color8:#083b2f,
  background-color9:#4d250c,
)
