$dark-value-map:(
  name: "dark",
  text-color: white,
  primary: #4192b4,
  color-opacity: 1,
  selected-color-opacity: 0.8,
  component-background-color: #333333,
  button-text-color: #43bd43,
  background-color0:#0a123b,
  background-color1:#5b0e57,
  background-color2:#1b3a0a,
  background-color3:#560d2e,
  background-color4:#42110d,
  background-color5:#3d360c,
  background-color6:#0c2f57,
  background-color7:#115611,
  background-color8:#083b2f,
  background-color9:#4d250c,
)
