$light-value-map: (
  name: "light",
  text-color: #333333,
  primary: #F44242,
  color-opacity: 0.8,
  selected-color-opacity: 1,
  component-background-color: white,
  background-color0:#FFF6A0,
  background-color1:#ABFF96,
  background-color2:#FFACA0,
  background-color3:#96ADFF,
  background-color4:#6B60EA,
  background-color5:#9542BC,
  background-color6:#FFA0DF,
  background-color7:#FFDB96,
  background-color8:#9fe7d6,
  background-color9:#d08d63,
)
