$light-value-map: (
  name: "light",
  text-color: #333333,
  primary: #F44242,
  color-opacity: 0.8,
  selected-color-opacity: 1,
  component-background-color: white,
  background-color0:#8b98d7,
  background-color1:#f180eb,
  background-color2:#92e561,
  background-color3:#d96e9e,
  background-color4:#de8179,
  background-color5:#e0d698,
  background-color6:#95beee,
  background-color7:#68e768,
  background-color8:#9fe7d6,
  background-color9:#d08d63,
)
