<div *ngIf="loadingData$|async"
     class="flex justify-content-center align-content-center">
  <p-progressSpinner></p-progressSpinner>
</div>
<!--Wrap everything in a div and add class darkMode if themeService returns true for darkMode-->
<div *ngIf="businessData$|async as businessData" [ngClass]="{'darkMode': isDarkTheme | async}">
  <app-menu-header [brandImage]="'data:image/jpeg;base64,'+businessData.logo" [companyName]="businessData.businessName"
                   [slogan]="businessData.nuis"></app-menu-header>
  <app-menu-bar [menuList]="businessData.categories"></app-menu-bar>
  <app-product-list></app-product-list>
  <div class="footer">
    <img  class="w-12 m-0 p-0 max-h-5rem" width="100%" src="assets/footer.svg">
  </div>
  </div>
