<div class="w-12 aaa">
<table class=" horizontal-scroll bar">
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
  <td class="p-1"><app-menu-item [menuItemName]="'aaaaaaaaaaa'"></app-menu-item></td>
</table>
</div>
