/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", sans-serif;
}


@import "./theme/dark.scss";
@import "./theme/light.scss";

@function map-get-value($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  } @else {
    @error "ERROR: Specified key #{$key} does not exist in the mapping #{map-get($map,name)}";
  }
}

@mixin set-theme($map) {
  .text {
    color: map-get-value($map, text-color);
  }
  .app-background {
    background-color: map-get-value($map,component-background-color)
  }
  .app-text-primary{
    color:map-get-value($map,primary)
  }
  .color0{
    background-color: map-get-value($map,background-color0);
    opacity: map-get-value($map,color-opacity);
  }
  .color1{
    background-color: map-get-value($map,background-color1);
    opacity: map-get-value($map,color-opacity);
  }
  .color2{
    background-color: map-get-value($map,background-color2);
    opacity: map-get-value($map,color-opacity);
  }
  .color3{
    background-color: map-get-value($map,background-color3);
    opacity: map-get-value($map,color-opacity);
  }
  .color4{
    background-color: map-get-value($map,background-color4);
    opacity: map-get-value($map,color-opacity);
  }
  .color5{
    background-color: map-get-value($map,background-color5);
    opacity: map-get-value($map,color-opacity);
  }
  .color6{
    background-color: map-get-value($map,background-color6);
    opacity: map-get-value($map,color-opacity);
  }
  .color7{
    background-color: map-get-value($map,background-color7);
    opacity: map-get-value($map,color-opacity);
  }
  .color8{
    background-color: map-get-value($map,background-color8);
    opacity: map-get-value($map,color-opacity);
  }
  .color9{
    background-color: map-get-value($map,background-color9);
    opacity: map-get-value($map,color-opacity);
  }
  .selected{
    opacity: map-get-value($map,selected-color-opacity);
  }
}

@include set-theme($light-value-map);

.darkMode {
  @include set-theme($dark-value-map);
}

@import 'primeflex/primeflex.scss';
